<h1>Play</h1>

<form>
  <input type="text" name="term" placeholder="guess?" />
  <input type="hidden" name="seed" value="<%= @seed %>" />
  <input type="submit" name="Submit" />
</form>

<% @images && @images.each do |image| %>
  <img src="<%= image %>">
<% end %>
